/*
 * Copyright (c) 2023
 * Regis Rousseau
 * Univ Lyon, INSA Lyon, Inria, CITI, EA3720
 * SPDX-License-Identifier: Apache-2.0
 */

/* configuration of ADC for geophone sensor */
/* adjust channel number according to pinmux in board.dts */
/* PB13 ADC_GSONE -> ADC_IN0 - see datasheet Pinout Config pg 57/149*/

/ {
	zephyr,user {
		io-channels = <&adc1 0>;
	};

/* channel IN0 configuration for geophone */
/* enable the corresponding ADC, with the correct vref value (in mV) */
	#address-cells = <1>;
	#size-cells = <0>;
	compatible = "st,stm32-adc";
	vref-channel = <13>;
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>;
	};
	status = "okay";
};

/* VBAT battery voltage monitoring */
/* external ADC channnel of STM32, IN5 - Port PB1 on schematic */
/* ratio = 2 -> voltage-divider by 2 on schematic */
/ {
	stm32_vbat: stm32vbat {
    	compatible = "st,stm32-vbat";
    	io-channels = <&adc1 5>;
   		ratio = <2>;
    	status = "okay";
	};
};

/* enable the corresponding ADC, with the correct vref value (in mV) */
&adc1 {
	vref-channel = <13>;
	vbat-channel = <5>;
	vref-mv = <3000>;
	status = "okay";
};

/* config of BME280 sensor (temperature and Humidity) on i2c bus */
/* address 0x77 --> Address Chip Select on high level (VDD) */
&i2c1 {
	status = "okay";
	bme280@77 {
		compatible = "bosch,bme280";
		reg = <0x77>;
	};
};

